.info{
  padding-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
h1.book-name{
  text-align: center;
  margin-bottom: 30px;
}
ul.book-content{
  margin-top: 20px;
}
ul.book-content li{
  display: block;
  margin-left: 40px;
  margin-bottom: 10px;
}
button{
  width: 200px;
  height: 40px;
}
.del-button{
  background-color: red;
}
.buttons{
  max-width: 500px;
  margin: 0 auto 10px;
}
